.card__like{
    background-image: url(../../../images/Vectorlike.svg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    border: none;
    margin-top: 31px;
    margin-right: 30px;
}